
/*
Dessy Fuchsia (FUCH)
Pantone 18-2333 TCX Raspberry Rose
#D13B7E
*/

@brand-primary:         #D13B7E;
/*
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;
*/

@body-bg:               fade(#fff, 40%);
@navbar-default-bg:     fade(#f8f8f8, 90%) ;

html {
    background: url('/assets/images/vines1.png') no-repeat top left fixed;
    background-size: 40%;
}
